<footer class="main-foot component">
    <div class="wrapper">
        <div class="main-foot__nav">
            <div class="main-foot__nav__col">
                <a href="%" class="main-foot__nav__cat">Category</a>
                <div class="main-foot__nav__txt">
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <div class="main-foot__nav__col">
                <a href="%" class="main-foot__nav__cat">Category</a>
                <div class="main-foot__nav__txt">
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <div class="main-foot__nav__col">
                <a href="%" class="main-foot__nav__cat">Category</a>
                <div class="main-foot__nav__txt">
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <div class="main-foot__nav__col">
                <a href="%" class="main-foot__nav__cat">Category</a>
                <div class="main-foot__nav__txt">
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="main-foot__nav__col">
            <a href="%" class="main-foot__nav__cat">Category</a>
            <div class="main-foot__nav__txt">
                <p>Lorem Ipsum</p>
            </div>
            <div class="main-foot__nav__col">
                <a href="%" class="main-foot__nav__cat">Category</a>
                <div class="main-foot__nav__txt">
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <hr class="hr">
            <div class="main-foot__copy">
                <small>&copy; DeadEnd Development. All rights reserved.</small>
            </div>
        </div>
</footer>