<footer class="main-foot">
    <div class="wrapper">
        <div class="main-foot__nav">
            <div class="main-foot__nav__col_1">
                <a href="%" class="main-foot__nav__cat">Category</a>
                <div class="main-foot__nav__txt">
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <div class="main-foot__nav__col_2">
                <div>
                    <a href="%" class="main-foot__nav__cat">Category</a>
                    <div class="main-foot__nav__txt">
                        <p>Lorem Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="main-foot__nav__col_3">
                <div>
                    <a href="%" class="main-foot__nav__cat">Category</a>
                    <div class="main-foot__nav__txt">
                        <p>Lorem Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="main-foot__nav__col_4">
                <div>
                    <a href="%" class="main-foot__nav__cat">Category</a>
                    <div class="main-foot__nav__txt">
                        <p>Lorem Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="main-foot__nav__col_5">
                <div>
                    <a href="%" class="main-foot__nav__cat">Category</a>
                    <div class="main-foot__nav__txt">
                        <p>Lorem Ipsum</p>
                    </div>
                </div>
            </div>
            <div class="main-foot__nav__col_6">
                <div>
                    <a href="%" class="main-foot__nav__cat">Category</a>
                    <div class="main-foot__nav__txt">
                        <p>Lorem Ipsum</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr class="main_hr">
        </div>
        <div class="main-foot__copy">
            <small>&copy; DeadEnd Development. All rights reserved.</small>
        </div>
</footer>