<section class="form">
    <div class="cont">
        <h2 class="cont__h2 h2 color--blue">Get in touch</h2>
        <p class="cont_p">If you have questions about purchasing ISV Online, you're in the right place!</p>
    </div>
    <form class="form__cont">
        <input type="text" id="name" name="name" class="form__cont__in" placeholder="First name"/>
        <input type="text" id="surname" name="surname" class="form__cont__in" placeholder="Last name"/>
        <input type="text" id="company" name="company" class="form__cont__in" placeholder="Company"/>
        <input type="text" id="email" name="email" class="form__cont__in" placeholder="Email"/>
        <input type="number" id="phone" name="phone" class="form__cont__in" placeholder="Telephone"/>
        <label for="text" class="form__cont__text">YOUR MESSAGE</label>
        <textarea id="text" name="text"></textarea>
        <button type='submit'>SEND</button> 
        <input type="text" placeholder="Prove you're human. What's 8+10?"/>
        <p class="form__cont__p">We hate spam as much as you do! View our <a href="#" class="color--purp a">Privacy Policy</a></p>\    
    </form> 
</section>