<section class="main-form">
    <div class="cont">
        <h2 class="cont__h2 h2 color--blue">Get in touch</h2>
        <p class="cont__p">If you have questions about purchasing ISV Online, you're in the right place!</p>
    </div>
    <form class="cont__form" action="mailto:agnieszka.osowska0@gmail.com" method="post">
        <input type="text" id="name" name="name" class="cont__form__in" placeholder="First name"/></br>
        <input type="text" id="surname" name="surname" class="cont__form__in" placeholder="Last name"/></br>
        <input type="text" id="company" name="company" class="cont__form__in" placeholder="Company"/></br>
        <input type="text" id="email" name="email" class="cont__form__in" placeholder="Email"/></br>
        <input type="number" id="phone" name="phone" class="cont__form__in" placeholder="Telephone"/></br>
        <label for="text" class="cont__form__text">YOUR MESSAGE</label></br>
        <span class="textcheck"></span>
        <textarea class="cont__form__textar" id="textar" name="text"></textarea></br>
        
        <input class="cont__form__in" id="cap" type="text" placeholder="Prove you're human. What's 8+10?"/></br>
        <button class="cont__form__btn" type='submit'>SEND</button></br>
        <span class="textcheck"></span>
        <p class="cont__form__p">We hate spam as much as you do! View our <a href="#" class="color--purp a">Privacy Policy</a></p>\    
    </form> 
</section>