<header class="head">
    
        <div class="head__media">
            <a href="#" class="head__media__a a">Linkedin</a>
            <a href="#" class="head__media__a a">Twitter</a>
        </div>
        <div class="wrapper">
        <div class="head__cont">
                <a href="index.html" class="head__cont__logo">
                    <img src="http://via.placeholder.com/187x67/ffffff" alt="logo"/>
                </a>
                <nav class="head__cont__nav">
                    <ul class="head__cont__nav__ul">
                        <li class="head__cont__nav__ul__li"><a class="a" href="">Skill Testing</a></li>
                        <li class="head__cont__nav__ul__li"><a class="a" href="">Training</a></li>
                        <li class="head__cont__nav__ul__li"><a class="a" href="">Create your own</a></li>
                        <li class="head__cont__nav__ul__li"><a class="a" href="">About Us</a></li>
                        <li class="head__cont__nav__ul__li"><a class="a" href="">News</a></li>
                    </ul>
                    
                </nav>
                <button class="head__cont__btn">Contact Us</button>
        </div>
    </div>
</header>