<header class="head">
    <div class="wrapper">
        <div class="head__media">
            <a href="#" class="head__media__a">Twitter</a>
            <a href="#" class="head__media__a">Linkedin</a>
        </div>
        <div class="head__cont">
                <a href="/" class="head__cont__logo">
                    <img src="/img/wild-things60.png" alt="logo"/>
                </a>
                <nav class="head__cont__nav">
                    <ul>
                        <li class="head__cont__nav__li"><a href="">Skill Testing</a></li>
                        <li class="head__cont__nav__li"><a href="">Training</a></li>
                        <li class="head__cont__nav__li"><a href="">Create your own</a></li>
                        <li class="head__cont__nav__li"><a href="">About Us</a></li>
                        <li class="head__cont__nav__li"><a href="">News</a></li>
                    </ul>
                    <button class="head__nav__btn">Contact Us</button>
                </nav>
        </div>
        
    </div>
</header>