<section class="hero">
        <div class="wrapper">
            <div class="hero__cont">
                <p class="hero__cont__p h3">DeadEnd Development</p>
                <h1 class="hero__cont__h1">Lorem ipsum dolor sit amet enim. Etiam ullamcorper</h1>
                <form class="hero__cont__form">
                    <input class="hero__cont__form__in" type="text" placeholder="Enter your email"/>
                    <input class="hero__cont__form__sub" typ="submit" value="Request a demo"/> 
                </form>
             
            </div>
        </div>
</section>