<section class="map">
    <div class="map__api">
        <iframe
                width="1376"
                height="584"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD0Dft5Emxh8J6ygeip7PerhqO8NnMH_tE
                  &q=Space+Needle,Seattle+WA" allowfullscreen>
        </iframe>
    </div>
    <div class="wrapper">
            <div class="map__ad">
                    <h4 class="map__ad__h4 color--blue">DeadEnd Software</h4>
                    <p class="map__ad__p">ul.Wiejska 45A, 15-351</br>
                    Białystok woj. podlaskie</p>
            </div>
            <div class="map__ph">
                    <p class="map__ph__p">Email:</p>
                    <p class=""></p>
            </div>
    </div>
        
</section>