<section class="main-news">
    <div class="wrapper">
        <div class="main-news__cat">
            <span id="output">
                News & Highlights
            </span>
        </div>
        <div class="main-news__cont">
            <div class="main-news__cont__item">
                <div class="main-news__cont__item__img">
                    <img src="#" alt="img">
                </div>
                <p class="main-news__cont__item__txt_1">ddd</p>
                <p class="main-news__cont__item__txt_2">ddd</p>
                <div>
                    <hr class="main_hr">
                </div>
                <div class="main-news__cont__item__txt_small">
                        <small>ddd</small>
                        <small>ccc</small>
                    </div>
            </div>
            <div class="main-news__cont__item">
                <div class="main-news__cont__item__img">
                    <img src="#" alt="img">
                </div>
                <p class="main-news__cont__item__txt_1">ddd</p>
                <p class="main-news__cont__item__txt_2">ddd</p>
                <div>
                    <hr class="main_hr">
                </div>
                <div class="main-news__cont__item__txt_small">
                        <small>ddd</small>
                        <small>ccc</small>
                    </div>
            </div>
            <div class="main-news__cont__item">
                <div class="main-news__cont__item__img">
                    <img src="#" alt="img">
                </div>
                <p class="main-news__cont__item__txt_1">ddd</p>
                <p class="main-news__cont__item__txt_2">ddd</p>
                <div>
                    <hr class="main_hr">
                </div>
                <div class="main-news__cont__item__txt_small">
                    <small>ddd</small>
                    <small>ccc</small>
                </div>
            </div>
        </div>
    </div>
</section>