<section class="main-news">
    <div class="wrapper">
        <div class="main-news__cat">
            <span>
                News & Highlights
            </span>
        </div>
        <div class="main-news__cont">
            <div class="main-news__cont__item">
                <div class="main-news__cont__item__img">
                    <img src="#" alt="img" id="img1">
                </div>
                <p class="main-news__cont__item__txt_1" id="title1">ddd</p>
                <p class="main-news__cont__item__txt_2" id="description1">ddd</p>
                <div>
                    <hr class="main_hr">
                </div>
                <div class="main-news__cont__item__txt_small">
                    <small id="author1">ddd</small>
                    <small id="date1">ccc</small>
                </div>
            </div>
            <div class="main-news__cont__item">
                <div class="main-news__cont__item__img">
                    <img src="#" alt="img" id="img2">
                </div>
                <p class="main-news__cont__item__txt_1" id="title2">ddd</p>
                <p class="main-news__cont__item__txt_2" id="description2">ddd</p>
                <div>
                    <hr class="main_hr">
                </div>
                <div class="main-news__cont__item__txt_small">
                    <small id="author2">ddd</small>
                    <small id="date2">ccc</small>
                </div>
            </div>
            <div class="main-news__cont__item">
                <div class="main-news__cont__item__img">
                    <img src="#" alt="img" id="img3">
                </div>
                <p class="main-news__cont__item__txt_1" id="title3">ddd</p>
                <p class="main-news__cont__item__txt_2" id="description3">ddd</p>
                <div>
                    <hr class="main_hr">
                </div>
                <div class="main-news__cont__item__txt_small">
                    <small id="author3">ddd</small>
                    <small id="date3">ccc</small>
                </div>
            </div>
        </div>
    </div>
</section>