<section class="section-f">
    <div class="wrapper">
        <div class="section-f__cont">
            <i class="fa fa-file"></i>
            <div>
                <p class="section-f__cont__p robo">© 2018 DeadEnd Development. All rights reserved. Lorem Ipsum</p>
                <p class="section-f__cont__p poppins">@Author: DeadEnd Development</p>
            </div>
        </div>
    </div>
</section>

<sectin class="section-f-inputs">
    <div class="section-f-inputs__cont">
        <input type="button" value="learn more">
        <input type="button" value="learn less">
    </div>
    <div>
        <hr class="main_hr">
    </div>
</sectin>