<section class='component video'>
    <div class='wrapper'>

        <div class='video-cont'>
            <video data-js="videoElem">
                <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
            </video>
        </div>

        <div class='video-controls'>
            <div data-js="videoPlay">
                <img src="../img/play-button.svg">
            </div>
        </div>

</section>