.head{

    position: absolute;
    z-index: 20;
    left: 0;
    width: 100%;
    overflow: hidden;   
    color: white;

    .wrapper{
        

    }
   

    &__media{
        height: $base-unit * 3;
        border-bottom: 1px solid white;
        padding-top: $base-unit;
        margin: 0 auto;
        padding-right: $base-unit * 7.8125;
        padding-left: $base-unit * 7.8125;
        max-width: $width-main;

        &__a{

            float: right;
            padding-right: $base-unit;
            font-size: $base-unit * 0.625;
            font-family: $font-M;
            line-height: $base-unit * 0.9375;
            
            
        }

        
    }

    &__cont {
        //float: left;
        clear: left;
        position: relative;
        height: $base-unit * 5;
        width: 100%;

        &__logo{
            float: left;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }

        &__nav{

            &__ul{
                text-align: center;
                float: left;
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;

                &__li{
                    color: white;
                    display: inline-block;
                    font-family: $font-M;
                    font-size: $base-unit * 0.625;
                    line-height: $base-unit * 0.9375;
                    text-align: left;
                    padding-left: $base-unit * 1.5;
                    padding-right: $base-unit * 1.5;


                }

            }      

        }


        &__btn{
            width: $base-unit * 10;
            height: $base-unit * 3;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            font-size: $base-unit * 0.75;
            border-radius: 4px;
            font-family: $font-P;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            right: 0%;

        }
    }



}