.head{
    background: url(http://via.placeholder.com/1376x675/7a217f);
    //position: relative;
margin: 0 auto;
    .wrapper{
        width: 100%;

    }
   

    &__media{
        border-bottom: 1px solid white;
        float: right;
        width: $base-unit * 86;


        &__a{
            font-family: $font-M;
            font-size: $base-unit * 0.625;
            line-height: $base-unit * 0.9375;
            text-align: left;
            
            color: white;
        }
  
    }

    &__cont {
        clear: left;

        &__logo{
            float: left;
        }

        &__nav{

            &__li{
                color: white;
                display: inline-block;

            }


            &__btn{

                width: $base-unit * 10;
                height: $base-unit * 3;
               // float: left;
            }

        }
    }



}