html {
    box-sizing: border-box;
    width: $base-unit * 86;
}
*, *:before, *:after {
    box-sizing: inherit;
}
h1, .h1{
    font-size: $base-unit * 2;
    font-family: $font-P;
    font-weight: 600px;

}
h2, .h2{
    font-size: $base-unit * 1.25;
    font-family: $font-P;
    font-weight: 600px;
}

.p{
    font-family: $font-P;
    font-weight: 600px;
}
.a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    padding-right: $base-unit * 7.8125;
    padding-left: $base-unit * 7.8125;
    max-width: $width-main;
}

.btn{
   
}